//META{"name":"HK416","description":"HK416","author":"Nue","version":"1.0.9003B"}*//

/* Background */

.appMount-2yBXZl {
    background-image: url("https://i.imgur.com/TbJMDqV.png") !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

/*Transparency 0.0*/
body,
.standardSidebarView-E9Pc3j,
.layer-86YKbF,
.bg-1QIAus,
.contentRegion-3HkfJJ,
.container-ZMc96U.themed-Hp1KC_,.container-1NXEtd,.container-2o3qEW,.container-1oAagU,
.embedFull-1HGV2S,
.members-3WRCEx, .members-3WRCEx>div,
.nowPlayingColumn-1eCBCN,
.panels-3wFtMD,
.privateChannels-oVe7HL,
.scroller-3X7KbA,.scroller-WSmht3,.scrollableContainer-15eg7h,.scroller-29cQFV,
.section-3G9aLW,.section-3G9aLW
{
    background: rgba(0,0,0,0.0) !important;

}

/*Transparency 0.4*/
.app-2CXKsg,
.applicationStore-2nk7Lo,
.channelTextArea-1FufC0,
.chat-2ZfjoI,
.contentRegionScroller-2_GT_N,
.expandedFolderBackground-1kSAf6,
.sidebar-1tnWFu,.sidebarRegionScroller-FXiQOh,
.theme-dark .container-2cd8Mz,.theme-dark .inset-SbsSFp,
.wrapper-1_HaEi,.wrapper-2RrXDg

{
    background: rgba(0,0,0,0.4) !important;
}

::-webkit-scrollbar-thumb {
    background-color: #0099ff !important;
}