//META{"name":"Nue","description":"Nue","author":"Nue","version":"0.0.305A"}*//

/* Background */

.appMount-3lHmkl {
    background-image: url("https://i.imgur.com/UkBIGDy.jpg") !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

/*Transparency 0.0*/

.activityFeed-1C0EmJ,
.bg-h5JY_x,
.card-7JP0BX,.card-FDVird:before,
.chat-3bRxxu,
.container-16j22k,.container-1r6BKw,
.content-yTz4x3,
.contentHoveredText-2D9B-x,
.contentRegionScroller-26nc1e,
.container-2OU7Cz,.container-iksrDt,.container-RYiLUQ,.container-PNkimc,
.friendsTableBody-1ZhKif,
.headerBar-UHpsPw,
.header-1RC2Wb,
.layers-3iHuyZ, .layer-3QrUeG,
.members-1998pB,
.messages-3amgkR,
.messageGroupBlockedBtn-1PBBh-,
.messageGroupBlocked-3wrQQX,
.messagesWrapper-3lZDfY,
.scroller-1JbKMe, .scroller-2TZvBN,
.sidebar-2K8pFh,
.sidebarRegionScroller-3MXcoP,
.theme-dark .container-2Thooq,
.title-3qD0b-,
.typing-3eiiL_, .typing-2GQL18
{
    background: rgba(0,0,0,0.0) !important;
}

/*Transparency 0.4*/

.activityFeed-28jde9,
.applicationStore-1pNvnv,
.appMount-14L89u,
.app-2rEoOp,
.channels-3g2vYe, 
.container-3lnMWU,.container-2lgZY8,.container-3gCOGc,
.contentRegion-3nDuYy,
.divider-red span,
.friends-header,
.friends-table,
.gameLibrary-TTDw4Y,
.inner-zqa7da,
.inset-GQDQYw,
.layers-20RVFW, .layer-kosS71, 
.outer-2IVh5n,
.panels-j1Uci_,
.privateChannels-1nO12o,
.recentlyPlayedContainer-2F3MqS,
.sidebarRegion-VFTUkN,
.standardSidebarView-3F1I7i,
.theme-dark .member-3W1lQa:hover .content-OzHfo4,
.title-qAcLxz,
.wrapper-1Rf91z {
    background: rgba(0,0,0,0.4) !important;
}
::-webkit-scrollbar-thumb {
    background-color: #7289da !important;
}

.messageGroupBlocked-3wrQQX {
	display: none;
}